@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #3E8EDE;
    overflow: hidden;
}

.container {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.wrapper .title {
    line-height: 90px;
    background: #2D68C4;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

.wrapper form .row input:focus {
    border-color: #2D68C4;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #2D68C4;
    border: 1px solid #2D68C4;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -4px 0 20px 0;
}

.wrapper form input[type="checkbox"] {
    accent-color: #2D68C4
}

.wrapper form .pass a {
    color: #2D68C4;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #2D68C4;
    border: 1px solid #2D68C4;
    cursor: pointer;
    border: none;
}

.wrapper form .button input:hover{
    background-color: #3E8EDE;
}

.wrapper form .signup-link {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}

.wrapper form .signup-link a {
    color: #2D68C4;
    text-decoration: none;
}

.wrapper .signup-link a:hover {
    text-decoration: underline;
}